<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>

    <form class="form-box" action = "/edit?_method=PUT" method="POST">
        <h4>수정하기</h4>
        <input name = "id" value="<%= result._id%>" style="display : none">
        <input name = "title" value="<%= result.title%>">
        <input name = "content" value="<%= result.content%>">
        <button type="submit">전송</button>
    </form> 
  
  </body>
</html>