<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>

    <div class="white-bg">
    <% for (let i = 0; i < posts.length; i++){ %>
      <div class="list-box">
        <h4><%= posts[i].title %></h4>
        <p><%= posts[i].content %></p>
      </div>
    <% } %>
    </div> 
  
  </body>
</html>