body {
    margin: 0;
  }
  .nav {
    display: flex;
    padding: 15px;
    align-items: center;
    background : white;
  }
  .nav a {
    margin-right: 10px;
  }
  .logo {
    font-weight: bold;
  }